@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-blue: #0A1E42;
    --primary-orange: #FF8C00;
    --primary-cyan: #00D9FF;
  }

  body {
    @apply antialiased;
    /* font-family: var(--font-satoshi); */
  }
}
/* 
@font-face {
  font-family: 'Satoshi Variable';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

.font-satoshi {
  font-family: 'Satoshi Variable', sans-serif;
} */
